@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

/* Border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Property Mixin */
/* Layout */

.title-container,
.content-container,
.about-container,
.contact,
footer {
  padding: 0 6%;
}
@media (min-width: 800px) {
  nav,
  title-container,
  .content-container,
  .about-container,
  .contact,
  footer {
    padding: 0 60px;
  }
}

h1,
h2,
h3,
p,
li,
button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}

h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 37px;
  font-weight: 800;
}
@media (min-width: 800px) {
  h1 {
    font-size: 57px;
  }
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

/* nav */

nav {
  padding: 0 7%;
  width: 100%;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 80px;
}

h1.logo-name {
  letter-spacing: -4px;
  padding-right: 3%;
}

li {
  list-style: none;
  font-size: 25px;
  padding: 0 3%;
  border-left: 1px solid black;
}

.nav-search {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

li .nav-social {
  margin-top: 10%;
}

ul li.nav-hover:hover {
  background: black;
  color: white;
}

ul div.nav-ham svg {
  display: none;
}

@media screen and (max-width: 1340px) {
  ul {
    justify-content: space-around;
  }
  ul li.nav-item {
    display: none;
  }
  ul div.nav-ham svg {
    display: inline-block;
    margin-top: 28px;
  }
}

/* title */

.title-name {
  letter-spacing: 1rem;
}

.title-container .title-name {
  margin-top: 50px;
}
@media (max-width: 800px) {
  .title-container .title-name {
    margin-top: 20px;
  }
}

/* content */

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 6%;
}

.content-container .pic-box {
  width: 350px;
  height: 550px;
  margin: 50px 0;
  border: 1px solid black;
}
@media (max-width: 800px) {
  .content-container .pic-box {
    width: 350px;
    height: 550px;
    margin: 20px 0;
    border: 1px solid black;
  }
}

.content-container .pic-box .img-overflow {
  width: 348px;
  height: 250px;
  overflow: hidden;
}

.content-container .pic-box .img-overflow img {
  width: 100%;
}

.content-container .pic-box .movie-review {
  padding: 15px;
}
.content-container .pic-box .movie-review p,
.content-container .pic-box .movie-review h2 {
  text-align: left;
}

.content-container .pic-box .movie-review h2.movie-title {
  margin: 8px 0;
}

.movie-artical {
  line-height: 1.5rem;
}

.view-count {
  display: inline-block;
  transform: translate(2px, -4.5px);
}

.border-line {
  border-bottom: 1px solid #80808080;
  margin: 20px 0px;
}
@media (max-width: 800px) {
  .border-line {
    border-bottom: 1px solid #80808080;
    margin: 20px 0px;
  }
}

/* about */

.about-container {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: black;
  color: white;
}

.about-container .title-name {
  margin: 50px 0;
}
@media (max-width: 800px) {
  .about-container .title-name {
    margin: 25px 0;
  }
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
@media (min-width: 800px) {
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10%;
    margin-bottom: 130px;
  }
}

.about-container .about-content .about-pic {
  width: 480px;
  height: 400px;
  border: 1px solid white;
  background-image: url("../pic/Trainspotting/adaymag-trainspotting-25-irvin-welsh-03.jpg");
  background-size: cover;
  background-position: center;
}

.about-container .about-content .about-text {
  width: 480px;
  height: 400px;
  padding: 30px;
  border: 1px solid white;
}
@media (max-width: 800px) {
  .about-container .about-content .about-text {
    height: 270px;
  }
}

@media (max-width: 800px) {
  .about-container .about-content .about-pic {
    border: none;
    width: 100%;
  }
  .about-container .about-content .about-text {
    border: none;
    width: 100%;
    padding: 0%;
    margin-top: 20px;
  }
}

.about-container .about-content .about-text h3 {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 800;
}

.about-container .about-content .about-text p {
  text-align: left;
}

/* contact */

.contact {
  width: 100%;
  padding-bottom: 60px;
}
@media (min-width: 800px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact .title-name {
  margin: 25px 0;
}
@media (min-width: 800px) {
  .contact .title-name {
    margin: 50px 0;
  }
}

.contact > .groupUnitContact .unitContact {
  width: 100%;
  padding: 20px 0px;
  border: 1px solid black;
}
@media (min-width: 800px) {
  .contact > .groupUnitContact .unitContact h3,
  .contact > .groupUnitContact .unitContact p,
  .contact > .groupUnitContact .unitContact span {
    text-align: center;
    max-width: 400px;
  }
}

.contact > .groupUnitContact .unitContact > * {
  width: 100%;
  color: black;
}
.contact > .groupUnitContact .unitContact > p {
  text-align: center;
}
.contact > .groupUnitContact .unitContact > p > span {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
}

.contact > .contactUs {
  margin-top: 30px;
}
@media (min-width: 800px) {
  .contact > .contactUs {
    min-width: 300px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .contact > .contactUs > * {
    flex-shrink: 0;
  }
}

.contact > .contactUs h3 {
  width: 100%;
}
@media (min-width: 800px) {
  .contact > .contactUs h3 {
    text-align: left;
  }
}

.contact > .contactUs p {
  text-align: center;
}
@media (min-width: 800px) {
  .contact > .contactUs p {
    text-align: left;
  }
}

.contact > .contactUs .mustFilled::after {
  content: "*";
  margin-left: 4px;
}

.contact > .contactUs button {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.contact > .contactUs > label {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .contact > .contactUs > label {
    width: 48%;
  }
}

.contact > .contactUs > label > input {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  padding: 16px;
}
.contact > .contactUs > label > input:hover {
  border-width: 2px;
}

.contact > .contactUs > label > .inputMessage {
  height: 160px;
}
@media (min-width: 800px) {
  .contact > .contactUs > label > .inputMessage {
    height: 30px;
  }
}

@media (min-width: 800px) {
  .contact > .contactUs > .message {
    width: 100%;
  }
}
.contact > .contactUs > button {
  width: 100%;
  height: 50px;
  max-width: none;
}

.contact > .contactUs > label:last-of-type > input {
  border-bottom: none;
}

@media (min-width: 800px) {
  .contact > .contactUs > label:nth-of-type(even):not(.message) {
    margin-left: 4%;
  }
}

/* footer */

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
}
@media (min-width: 800px) {
  footer {
    padding: 30px 0;
    background-color: #80808020;
    border-top: 1px solid black;
  }
}
