@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");

/* Border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Property Mixin */
/* Layout */
.title-container,
.content-container,
.about-container,
.contact,
footer {
  padding: 0 6%;
}
@media (min-width: 800px) {
  title-container,
  .content-container,
  .about-container,
  .contact,
  footer {
    padding: 0 60px;
  }
}

h1,
h2,
h3,
p,
button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}

h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 37px;
  font-weight: 800;
}
@media (min-width: 800px) {
  h1 {
    font-size: 57px;
  }
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

h1.logo-name {
  letter-spacing: -4px;
}
.title-name {
  letter-spacing: 1rem;
}

/* content */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 6%;
}

.content-container .pic-box {
  /* background: orange; */
  width: 402px;
  height: 500px;
  margin: 50px 0;
  border: 1px solid black;
}

.content-container .pic-box .img-overflow {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.content-container .pic-box .img-overflow img {
  width: 100%;
}

.content-container .pic-box .movie-review {
  padding: 20px;
}
.content-container .pic-box .movie-review p,
.content-container .pic-box .movie-review h2 {
  text-align: left;
}
.content-container .pic-box .movie-review .artical-view {
  position: absolute;
  bottom: 0;
  /* border-top: 1px solid gray; */
}

/* .movie-name {
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100%;
  height: 100%;
}
.movie-name p {
  display: flex;
  justify-content: center;
  color: #fff;
}
.movie-name:hover {
  -webkit-transition: 500ms;
  opacity: 1;
} */

/* about */

.about-container {
  /* position: relative; */
  /* width: 100%; */

  padding-bottom: 60px;
  transform: translate(0px, 300px);
  background: yellowgreen;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0%;
  margin-top: 50px;
}

.about-container .about-content .about-pic {
  width: 480px;
  height: 400px;
  background-image: url("../pic/Trainspotting/adaymag-trainspotting-25-irvin-welsh-03.jpg");
  background-size: cover;
  background-position: center;
}
.about-container .about-content .about-text {
  width: 480px;
  height: 400px;
  /* text-align: left; */
}
.about-container .about-content .about-text h3 {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 800;
}
.about-container .about-content .about-text p {
  text-align: left;
}

/* contact */

.contact {
  position: relative;
  width: 100%;
  /* padding-top: 20px; */
  padding-bottom: 60px;
  background-color: #1e1e1e;
  transform: translate(0px, 500px);
}
@media (min-width: 800px) {
  .contact {
    padding-top: 60px;
  }
}
.contact .title-name {
  color: white;
}

.contact > .groupUnitContact {
  position: relative;
  width: 100%;
}
@media (min-width: 800px) {
  .contact > .groupUnitContact {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 40px;
  }
  .contact > .groupUnitContact > * {
    flex-shrink: 0;
  }
}
.contact > .groupUnitContact .unitContact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media (min-width: 800px) {
  .contact > .groupUnitContact .unitContact {
    min-width: 200px;
    width: 30%;
    max-width: 300px;
  }
  .contact > .groupUnitContact .unitContact h3,
  .contact > .groupUnitContact .unitContact p,
  .contact > .groupUnitContact .unitContact span {
    text-align: left;
  }
}
.contact > .groupUnitContact .unitContact > * {
  flex-shrink: 0;
  width: 100%;
  color: #fff5ec;
}
.contact > .groupUnitContact .unitContact > p {
  text-align: center;
}
.contact > .groupUnitContact .unitContact > p > span {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
}
.contact > .groupUnitContact .unitContact > p > span:first-of-type {
  margin-top: 16px;
}
@media (min-width: 800px) {
  .contact > .groupUnitContact .absolute2Bottom-lg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
  }
  .contact > .groupUnitContact .absolute2Bottom-lg > * {
    flex-shrink: 0;
  }
}
@media (min-width: 800px) {
  .contact > .groupUnitContact .button {
    justify-content: flex-start;
  }
}
.contact > .groupUnitContact .button > button {
  width: 230px;
  color: #1e1e1e;
  background-color: #fff5ec;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .contact > .groupUnitContact .button > button {
    width: 160px;
  }
}
.contact > .contactUs {
  margin-top: 30px;
}
@media (min-width: 800px) {
  .contact > .contactUs {
    position: absolute;
    z-index: 2;
    right: 6%;
    top: 160px;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .contact > .contactUs > * {
    flex-shrink: 0;
  }
}
.contact > .contactUs h3 {
  width: 100%;
  color: #fff5ec;
}
@media (min-width: 800px) {
  .contact > .contactUs h3 {
    text-align: left;
  }
}
.contact > .contactUs p {
  color: #fff5ec;
  text-align: center;
}
@media (min-width: 800px) {
  .contact > .contactUs p {
    text-align: left;
  }
}
.contact > .contactUs .mustFilled::after {
  content: "*";
  margin-left: 4px;
}
.contact > .contactUs button {
  border-color: #fff5ec;
  border-width: 1px;
  border-style: solid;
  color: #fff5ec;
  background-color: #d0362c;
}
.contact > .contactUs > label {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .contact > .contactUs > label {
    width: 48%;
  }
}
.contact > .contactUs > label > input {
  display: inline-block;
  margin-top: 6px;
  width: 100%;
  height: 30px;
  border-color: #fff5ec;
  border-width: 1px;
  border-style: solid;
  background-color: #1e1e1e;
  color: #fff5ec;
  padding: 16px;
}
.contact > .contactUs > label > .inputMessage {
  height: 160px;
}
@media (min-width: 800px) {
  .contact > .contactUs > label > .inputMessage {
    height: 30px;
  }
}
@media (min-width: 800px) {
  .contact > .contactUs > .message {
    width: 100%;
  }
}
.contact > .contactUs > button {
  width: 100%;
  height: 50px;
  max-width: none;
}
.contact > .contactUs > label:last-of-type > input {
  border-bottom: none;
}
@media (min-width: 800px) {
  .contact > .contactUs > label:nth-of-type(even):not(.message) {
    margin-left: 4%;
  }
}
footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d0362c;
  display: flex;
  justify-content: center;
  transform: translate(0px, 500px);
}

@media (min-width: 800px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
